body {
  background-color: white;
}
/* Header */
.header {
  display: flex;

  margin-top: 4rem;
  margin-right: 8rem;
  margin-left: 12rem;
  background-color: rgb(255, 255, 255);
  color: #fff;
}

.columnLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Ancho deseado del contenedor */
  height: 250px; /* Alto deseado del contenedor */
  padding-top: 2rem;
}
.contenedorHeaderUno {
  background-color: #f5f5f5 !important;
  border-radius: 1rem;
  height: 22rem;
}

.tituloEcoTree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(148, 148, 148);
}
.imagenJardin {
  width: 29rem;
  height: 25rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.contenedorFlecha {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flechaDerecha {
  width: 40px;
  height: 45px;
  padding-right: 2rem;
}
.column {
  flex: 1;
  text-align: center;
}

.column img {
  max-width: 100%;
  height: auto;
}

/* NavBAR */
.navbar {
  width: 300px;
  background-color: #f5f5f5 !important;
  color: #fff;

  border-radius: 1rem;
  height: 22rem;
}

.navbar ul {
  justify-content: center;
  align-items: center;
  padding: 2.6rem;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.navbar a {
  color: #f19d00;
  text-decoration: none;
}

.fa {
  font-size: 20px;
  margin-right: 10px;
}

.separator {
  width: 13.5rem;
  height: 0.5px;
  display: block;
  background-color: #666666;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

/* Estilos para la sección flexbox */
.section-flex {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  padding: 45px; /* Espacio alrededor de la sección */
  background-color: #b4d8e8; /* Cambia el color de fondo según tus preferencias */
  border-radius: 1rem;
  width: 69.2rem;
  margin-left: 12rem;
  margin-top: 2rem;
}

.text-box {
  text-align: center; /* Centra el contenido horizontalmente */
  flex: 1; /* Hace que los elementos ocupen un espacio igual en el contenedor */
  max-width: 30%; /* Establece un ancho máximo para los elementos */
}

.text-box h3 {
  font-size: 24px; /* Tamaño del minitítulo */
  margin: 10px 0; /* Espacio entre el minitítulo y el texto */
}

.text-box p {
  font-size: 18px; /* Tamaño del texto */
}

.separadorSection {
  display: flex;

  
  height: 8rem;
}

.section-second {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  padding: 45px; /* Espacio alrededor de la sección */
  background-color: #f5f5f5; /* Cambia el color de fondo según tus preferencias */
  border-radius: 1rem;
  width: 69.2rem;
  margin-left: 12rem;
  margin-top: 2rem;
  height: 40rem;
}


.textHeader {
color: rgb(49, 49, 49);
}

.tituloSection{
  color: rgb(72, 72, 72);
  font-size: 2rem !important;
}

.tituloUltimaSeccion{
font-size: 1.5rem;
  color: rgb(72, 72, 72);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 2rem;
  margin-left: 11.8rem;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 1rem;
  width: 72.5rem;
}

.box {
  width: calc(33% - 20px); /* Ancho fijo con espacio para el margen */
  flex: none; /* Desactiva el crecimiento y la contracción flex */

  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

.box h3 {
  font-size: 18px;
  margin: 10px 0;
}

.box p {
  font-size: 14px;
}

.box img {
  max-width: 100%;
  height: auto;
}

.Section-ultimate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 2rem;
  margin-left: 11.8rem;
  padding: 20px;

  border-radius: 1rem;
  width: 72.5rem;
}

.box-ultimate {
  width: calc(33% - 20px); /* Ancho fijo con espacio para el margen */
  flex: none; /* Desactiva el crecimiento y la contracción flex */

  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
}

.footer {
  background-color: #e8e5e5;
  height: 40px;
  width: 75rem;
  margin-left: 11.8rem;
  border-radius: 1rem;
}

/*Ideas Section */
.boxIdeas {
  position: relative;
  width: 300px; /* Ancho deseado del contenedor */
  margin-right: 2rem; /* Centrar el contenedor horizontalmente */
}

/* Estilos para la imagen */
.imagen-container img {
  max-width: 100%;
  width: 600px;

  height: auto;
}

/* Estilos para el texto */
.textoIdeas {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(72, 72, 72);
  padding: 1rem;
  padding-top: 3rem;
}

.textSegundaSection{

  color: rgb(72, 72, 72);
}
/* Estilos para el botón */
.boton-mas {
  padding: 5px 10px; /* Pequeño padding */
  border: none;
  border-radius: 5px; /* Redondeado */
  background-color: #b4d8e8;  /* Color celeste */
  color: #4a4848; /* Texto en color blanco */
  font-size: 14px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  margin-top: 1rem;
}

/* Estilo al pasar el mouse por encima */
.boton-mas:hover {
  background-color: #3388aa; /* Cambia el color al pasar por encima */
}

/*Pagina de Contacto*/
.bannerContacto {
  width: 33rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.headerContacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 2rem;
  margin-left: 11.8rem;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 1rem;
  width: 72.5rem;
}

.contenedorContacto {
  border-radius: 10px;
}

h1 {
  text-align: center;
}
label {
  display: block;
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background-color: #87ceeb; /* Fondo celeste clarito */
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #5f9ea0; /* Cambio de color al pasar el cursor */
}

.tituloFormContact {
  color: #4a4848; 
  margin-right: 60rem;
}

.tituloFormImagenes {
  width: 70%;
  margin-left: 19rem;
  color: #4a4848; 
}
.subtituloForm {
  font-size: 1.4rem;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espacio entre las imágenes */
}

.image-grid img {
  width: calc(
    40% - 5px
  ); /* 50% de ancho con un pequeño espacio entre las imágenes */
}

.contenedorDerecho {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 4rem;
  background-color: white;
}

.leyenda {
  margin-right: 23rem;
  color: blue;
}

/*Footer*/
.footerContacto {
  background-color: #b4d8e8;
  color: black;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 1rem;
  margin: 1rem;
  width: 73rem;
  height: 15rem;
  margin-left: 11.5rem;
}
.tituloFooter{
  color: #4a4848; 
}
.textoFooter{
  font-size: 1.1rem;
  color: #4a4848; 
 
}
.footerColumn {
  flex: 1;
  padding: 0 20px;
}

.footerColumn h2 {
  font-size: 1.2em;
}

.listRedes {
  display: flex;
  margin: 0;
  list-style: none;
}

.listRedes li {
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.listRedes li a {
  color: #ffad08;
  text-decoration: none;
  font-weight: bold;
  padding-left: 5px;
}

.youtube {
  margin-bottom: 12rem;
}

div h2 {
  display: flex;
  justify-content: start;
}

div p {
  text-align: left;
}
